{{- /*
Parameters:
  
  Page: The page context.

  Href: The URL for the slide content. This is required unless 
        a src parameter value has been provided.
        
  Src: The URL for the link content. This is required unless 
       an href parameter value has been provided.
       
  LinkClass: Custom class to apply to the anchor tag. 
              Default is undefined. 'glightbox' is always applied.
              
  LinkStyle: Custom style to apply to the anchor tag. 
              Default is undefined.
              
  Gallery: The name of the slide's gallery. Default is undefined.
  
  Title: The slide's title. Default is undefined.
  
  Description: The slide's description. Default is undefined.
  
  DescPosition: (bottom, top, left, right) Where the slide's 
                 description should be positioned. Default is bottom.
                 
  Type: (image, video, inline?, iframe?) The slide type. 
        Default infers from source.
        
  Effect: (zoom, fade, none) The animation effect the slide 
          should use. Default is zoom.
          
  Width: The custom width for this slide. Default is 900px.
  
  Height: The custom height for this slide. Default is 506px.
  
  Zoomable: Whether this slide should be zoomable. Default is true.
  
  Draggable: Whether this slide should be draggable. Default is true.
  
  Sizes: Specifies image sizes for different page layouts. 
         Default is undefined.
         
  Srcset: Specifies a list of image files to use in different 
          situations. Default is undefined.
          
  VideoClass: Custom class to apply to the video tag. 
               Default is undefined.
               
  VideoStyle: Custom style to apply to the video tag. 
               Default is undefined.
               
  Loop: Whether the link video should loop. Default is true.
  
  Autoplay: Whether the link video should be set to autoplay. 
            Default is true.
            
  Preload: Value for the link video's preload attribute. 
           This ignored when set to autoplay. Default is undefined.
           
  Alt: Specifies an alternate text for an image. Default is undefined.
  
  ImgClass: Custom class to apply to the img tag. Default is undefined.
  
  ImgStyle: Custom style to apply to the img tag. Default is undefined.
  PhotoWidth: Specifies a pixel width for a thumbnail image to be 
              fetched using the photos API. Default is undefined.
  Fit: (contain or cover) The object-fit value for the image / video.

*/}}

{{- /* Make sure there is a page context and a source for the link. */ -}}
{{- if (and (or .Href .Src) .Page) }}

  {{- if not (.Page.Scratch.Get "plugin-lightbox.Parameters") -}}
    {{- partial "plugin-lightbox/load-parameters" .Page -}}
  {{- end -}}
  
  {{- $Parameters := .Page.Scratch.Get "plugin-lightbox.Parameters" -}}
  
  {{- /* Resolve the class to assign the link. */ -}}
  {{- $LinkClass := $Parameters.Style.LinkClassName -}}
  {{- with .LinkClass -}}
  {{- $LinkClass = printf "%s %s" $LinkClass (delimit (apply (split . " ") 
                                                             "anchorize" 
                                                             ".") 
                                                      " ") -}}
  {{- end -}}
  {{- if findRE `^\.[^ ]+$` $Parameters.GLightbox.Selector -}}
    {{- $selector := replaceRE `^\.([^ ]+)$` 
                               `$1` 
                               $Parameters.GLightbox.Selector -}}
    {{- $LinkClass = printf "%s %s" $selector $LinkClass | chomp -}}
  {{- end -}}
    
  {{- $Href := .Href | default .Src }}
  {{- $Src := .Src | default .Href }}
  
  {{- $PhotoWidth := .PhotoWidth | default $Parameters.Style.PhotoWidth -}}
  
  {{- $DataSelector := "" -}}
  {{- if findRE `^.*data-[^ ]+.*$` $Parameters.GLightbox.Selector -}}
    {{- $DataSelector = replaceRE `^.*(data-[^ ]+).*$` 
                                  `$1`
                                  $Parameters.GLightbox.Selector -}}
  {{- end -}}
    
  <a
    {{- with $DataSelector }} {{ . | safeHTMLAttr }}{{ end -}}
    {{- with $LinkClass }} class="{{ . }}"{{ end -}}
    {{- with $Href }} href="{{ . }}"{{ end -}}
    {{- with .LinkStyle }} style="{{ . | safeCSS }}"{{ end -}}
    {{- with .Gallery }} data-gallery="{{ . }}"{{ end -}}
    {{- with .Title }} data-title="{{ . }}"{{ end -}}
    {{- with .Description }} data-description="{{ . }}"{{ end -}}
    {{- with .DescPosition }} data-desc-position="{{ . }}"{{ end -}}
    {{- with .Type }} data-type="{{ . }}"{{ end -}}
    {{- with .Effect }} data-effect="{{ . }}"{{ end -}}
    {{- with .Width }} data-width="{{ . }}"{{ end -}}
    {{- with .Height }} data-height="{{ . }}"{{ end -}}
    {{- if (isset . "Zoomable") -}}
    data-zoomable="{{ .Zoomable }}"
    {{- end -}}
    {{- if (isset . "Draggable") -}}
    data-draggable="{{ .Draggable }}"
    {{- end -}}
    {{- with .Sizes }} data-sizes="{{ . }}"{{ end -}}
    {{- with .Srcset }} data-srcset="{{ . }}"{{ end -}}
    > 
    {{- if (in (slice ".mp4" ".mov" ".webm" ".ogg") (path.Ext $Src))  -}}
    
    {{- $parameters := dict "Page" .Page "Src" $Src -}}
    {{- with .VideoClass -}}
      {{- $parameters = merge $parameters (dict "Class" .) -}}
    {{- end -}}
    {{- with .VideoStyle -}}
      {{- $parameters = merge $parameters (dict "Style" .) -}}
    {{- end -}}
    {{- if (isset . "Loop") -}}
      {{- $parameters = merge $parameters (dict "Loop" .Loop) -}}
    {{- end -}}
    {{- if (isset . "Autoplay") -}}
      {{- $parameters = merge $parameters (dict "Autoplay" .Autoplay) -}}
    {{- end -}}
    {{- with .Preload -}}
      {{- $parameters = merge $parameters (dict "Preload" .) -}}
    {{- end -}}
    {{- with .Fit -}}
      {{- $parameters = merge $parameters (dict "Fit" .) -}}
    {{- end -}}
    
      {{- partial "plugin-lightbox/link-content/video.html" $parameters -}}
      
    {{- else if $PhotoWidth -}}
    
    {{- $parameters := dict "Page" .Page "Src" $Src -}}
    {{- with .Alt -}}
      {{- $parameters = merge $parameters (dict "Alt" .) -}}
    {{- end -}}
    {{- with .ImgClass -}}
      {{- $parameters = merge $parameters (dict "Class" .) -}}
    {{- end -}}
    {{- with .ImgStyle -}}
      {{- $parameters = merge $parameters (dict "Style" .) -}}
    {{- end -}}
    {{- with $PhotoWidth -}}
      {{- $parameters = merge $parameters (dict "Width" .) -}}
    {{- end -}}
    {{- with .Fit -}}
      {{- $parameters = merge $parameters (dict "Fit" .) -}}
    {{- end -}}
    
      {{- partial "plugin-lightbox/link-content/img-thumbnail.html" $parameters -}}
      
    {{- else -}}
    
    {{- $parameters := dict "Page" .Page "Src" $Src -}}
    {{- with .Alt -}}
      {{- $parameters = merge $parameters (dict "Alt" .) -}}
    {{- end -}}
    {{- with .ImgClass -}}
      {{- $parameters = merge $parameters (dict "Class" .) -}}
    {{- end -}}
    {{- with .ImgStyle -}}
      {{- $parameters = merge $parameters (dict "Style" .) -}}
    {{- end -}}
    {{- with .Fit -}}
      {{- $parameters = merge $parameters (dict "Fit" .) -}}
    {{- end -}}
    
      {{- partial "plugin-lightbox/link-content/img.html" $parameters }}
      
    {{- end -}} {{- /* if (in (slice ".mp4" ".mov" ".webm" ".ogg") (path.Ext $src)) */ -}}
    
  </a>
  
{{- end -}} {{- /* if (and (or .Href .Src) .Page) */ -}}