{{- if .src -}}
{{- $src := .src -}}
<a
  href="{{ .href | default $src }}"
  class="glightbox{{- with .link_class }} {{ . }}{{ end }}"
  {{- with .link_style }}style="{{ printf "%q" . | safeHTMLAttr }}"{{ end }}
  {{- with .gallery }}data-gallery="{{ . }}"{{ end }}
  {{- with .title }}data-title="{{ . }}"{{ end }}
  {{- with .description }}data-description="{{ . }}"{{ end }}
  {{- with .desc_position }}data-desc-position="{{ . }}"{{ end }}
  {{- with .type }}data-type="{{ . }}"{{ end }}
  {{- with .effect }}data-effect="{{ . }}"{{ end }}
  {{- with .width }}data-width="{{ . }}"{{ end }}
  {{- with .height }}data-height="{{ . }}"{{ end }}
  {{- with .zoomable }}data-zoomable="{{ . }}"{{ end }}
  {{- with .draggable }}data-draggable="{{ . }}"{{ end }}
  {{- with .sizes }}data-sizes="{{ . }}"{{ end }}
  {{- with .srcset }}data-srcset="{{ . }}"{{ end }}
  > 
  {{- if and (in (slice "mp4" "mov" "webm" "ogg") (path.Ext $src)) (not (isset . "href")) -}}
  
  {{- else -}}
  <img
    {{- with .photo_width }}
    src="https://micro.blog/photos/{{ . }}x/{{ $src }}"
    {{- else }}
    src="{{ $src }}"
    {{- end }}
    {{- with .alt }}alt="{{ . }}"{{ end }}
    {{- with .img_class }}class="{{ . }}"{{ end }}
    {{- with .img_style }}
    style="{{ printf "%q" . | safeHTMLAttr }}"
    {{- else -}}
    {{- with .photo_width }}
    style="width: {{ . }}px; height: auto; max-width: 100%"
    {{- end -}}
    {{- end }}
  />
  {{- end -}}
</a>
{{- end -}}