{{/* Gallery name should be passed as first parameter */}}
{{- $gallery := .Get 0 -}}
{{/* Create a flex box container for the images */}}
<div 
  class="gallery {{ $gallery }}"
  style="display: flex;">
{{/* Parse out markdown image declarations from `.Inner` and iterate */}}
{{- $parsed_images := findRE "[!][[][^]]*[]][(][^)]+[)]" .Inner -}}
{{- range $parsed_images -}}
  {{/* Parse the image URL */}}
  {{- $src := index (findRE "http[^)]+" .) 0 -}}
  {{- $description := replaceRE "[!][[]([^]]*)[]].+" "$1" . }}
  {{ partial "lightbox.html" (dict "src" $src "gallery" $gallery  "description" $description "link_class" "gallery-link" "img_class" "gallery-image") }}
{{- end -}}
</div>
