{{/* Check we have what we need to start */}}
{{ if (and (.Get "gallery") (.Get "slide-data")) }}

{{ partial "gallery.html" (dict "gallery" (.Get "gallery") "slide_data" (.Get "slide-data" | unmarshal) "title_key" (.Get "title-key") "desc_key" (.Get "desc-key") "src_key" (.Get "src-key") "width_key" (.Get "width-key") "height_key" (.Get "height-key") "thumb_src_key" (.Get "thumb-src-key") "desc_position_key" (.Get "desc-position-key") "title_key" (.Get "title-key") "title_key" (.Get "title-key") "title_key" (.Get "title-key") "title_key" (.Get "title-key") "title_key" (.Get "title-key") "title_key" (.Get "title-key") "title_key" (.Get "title-key") "flex_wrap" (.Get "flex-wrap") "div_class" (.Get "div-class") "link_class" (.Get "link-class") "img_class" (.Get "img-class") "video_class" (.Get "video-class") "photo_width" (.Get "photo-width")) }}

{{ end }}