{{/*
Bounces the provided parameters over to the `gallery` partial.

Top-level parameters

wrap: Whether the gallery links should wrap or be constrained to a single row. Default is true.

div-class: Custom class to apply to the div. Default is undefined. 'gallery' is always applied.

div-style: Custom style to apply to the div in additon to the flex declaration and wrap specification. Default is undefined.

link-class: Custom class to apply to all anchor tags. Default is undefined. gallery-link and glightbox are always applied.

link-style: Custom style to apply to all anchor tags. Default is undefined.

gallery: The name of the gallery. This is required.

desc-position: (bottom, top, left, right) Where all slides descriptions should be positioned. Default is bottom.

effect: (zoom, fade, none) The animation effect all slide should use. Default is zoom.

width: The custom width for all slides. Default is 900px.

height: The custom height for all slides. Default is 506px.

zoomable: Whether slides should be zoomable. Default is true.

draggable: Whether slides should be draggable. Default is true.

video-class: Custom class to apply to all video tags. Default is undefined. gallery-video is always applied.

video-style: Custom style to apply to all video tags. Default is undefined.

loop: Whether link videos should loop. Default is true.

autoplay: Whether link videos should be set to autoplay. Default is true.

preload: Value for link video preload attributes. This ignored when set to autoplay. Default is undefined.

img-class: Custom class to apply to all img tags. Default is undefined. gallery-image is always applied.

img-style: Custom style to apply to all img tags. Default is undefined.

photo-width: Specifies a pixel width for a thumbnail image to be fetched using the https://micro.blog/photos/ API. Default is undefined.

Slide data is expected to be provided as a string containing a JSON array of slide JSON objects. The JSON should use the underscore version of the keys.

slide object keys:

href: The URL for the slide content. This is required unless a src parameter value has been provided.

src: The URL for the link content. This is required unless an href parameter value has been provided.

link_style: Custom style to apply to the anchor tag. Default is undefined.

gallery: The name of the slide's gallery. Default is undefined.

title: The slide's title. Default is undefined.

description: The slide's description. Default is undefined.

desc_position: (bottom, top, left, right) Where the slide's description should be positioned. Default is bottom.

type: (image, video, inline?, iframe?) The slide type. Default infers from source.

effect: (zoom, fade, none) The animation effect the slide should use. Default is zoom.

width: The custom width for this slide. Default is 900px.

height: The custom height for this slide. Default is 506px.

zoomable: Whether this slide should be zoomable. Default is true.

draggable: Whether this slide should be draggable. Default is true.

sizes: Specifies image sizes for different page layouts. Default is undefined.

srcset: Specifies a list of image files to use in different situations. Default is undefined.

video_style: Custom style to apply to the video tag. Default is undefined.

loop: Whether the link video should loop. Default is true.

autoplay: Whether the link video should be set to autoplay. Default is true.

preload: Value for the link video's preload attribute. This ignored when set to autoplay. Default is undefined.

alt: Specifies an alternate text for an image. Default is undefined.

img_style: Custom style to apply to the img tag. Default is undefined.

photo_width: Specifies a pixel width for a thumbnail image to be fetched using the https://micro.blog/photos/ API. Default is undefined.

*/}}

{{/* Slide data must be passed as a string to use this shortcode */}}
{{ if .Get "slide-data" }}

{{ $slide_data := .Get "slide-data" }}

{{/* Unmarshall the data */}}
{{ if (not ($slide_data | reflect.IsSlice)) }}
{{ with transform.Unmarshal $slide_data }}
{{ $slide_data = . }}
{{ end }}
{{ end }}

{{ if ($slide_data | reflect.IsSlice) }}
{{/* Autolink mangles the data so scheme and host are parameterized */}}
{{ $scheme := .Get "scheme" }}
{{ $host := .Get "host" }}

{{/* Reconstruct the slide data if these have been set */}}
{{ if (and $scheme $host) }}

{{ $altered_data := slice }}

{{ range $slide_data }}

{{ $href := index . "href" }}
{{ with $href }}{{ $href = printf "%s://%s" $scheme (path.Join $host $href) }}{{ end }}

{{ $src := index . "src" }}
{{ with $src }}{{ $src = printf "%s://%s" $scheme (path.Join $host $src) }}{{ end }}

{{ $altered_data = $altered_data | append (dict "href" $href "src" $src "link_class" .link_class "link_style" .link_style "gallery" .gallery "title" .title "description" .description "desc_position" .desc_position "type" .type "effect" .effect "width" .width "height" .height "zoomable" .zoomable "draggable" .draggable "sizes" .sizes "srcset" .srcset "video_class" .video_class "video_style" .video_style "loop" .loop "autoplay" .autoplay "preload" .preload "alt" .alt "img_class" .img_class "img_style" .img_style "photo_width" .photo_width) }}

{{ end }}

{{ $slide_data = $altered_data }}

{{ end }}

{{ partial "gallery.html" (dict "gallery" (.Get "gallery") "slide_data" $slide_data "wrap" (.Get "wrap") "div_style" (.Get "div-style") "div_class" (.Get "div-class") "link_class" (.Get "link-class") "link_style" (.Get "link-style") "img_class" (.Get "img-class") "img_style" (.Get "img-style") "video_class" (.Get "video-class") "video_style" (.Get "video-style") "photo_width" (.Get "photo-width") "desc_position" (.Get "desc-position") "effect" (.Get "effect") "zoomable" (.Get "zoomable") "draggable" (.Get "draggable") "loop" (.Get "loop") "autoplay" (.Get "autoplay") "preload" (.Get "preload") "width" (.Get "width") "height" (.Get "height")) }}

{{ end }}
{{ end }}