{{- $Parameters := dict "Page" .Page -}}

{{- /* Parse out markdown image declaration if present */ -}}
{{- if not (.Get "src") -}}
{{- with .Inner -}}
  {{- with findRE "[!][[][^]]*[]][(][^)]+[)]" . -}}
    {{- $src := index (findRE "http[^)]+" .) 0 -}}
    {{- $title := replaceRE "[!][[]([^]]*)[]].+" "$1" . -}}
    {{- $Parameters = merge $Parameters (dict "Src" $src "Title" $title) -}}
  {{- end -}}
{{- end -}}
{{- end -}}
    
{{- with .Get "parameters" -}}

  {{- with transform.Unmarshal . -}}
    {{- if reflect.IsMap . -}}
      {{- $Parameters = merge $Parameters . -}}
    {{- end -}}
  {{- end -}}

{{- else -}}

  {{- range $key, $value := $.Params -}}        
    {{- $key = $key | humanize | title | replaceRE " " "" -}}
    {{- $Parameters = merge $Parameters (dict $key $value) -}}
  {{- end -}}

{{- end -}}

{{- partial "plugin-lightbox/lightbox.html" $Parameters -}}